*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100vh;
    background: url(book-flower.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-task-container{
    background-color: #fff;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid rgb(139, 90, 139);
    box-shadow: 0 0 10px;
    margin-bottom: 20px;
    opacity: 0.9;
    display: flex;
}
input{
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid rgb(172, 172, 172);
    color:  rgb(54, 54, 54);
    outline: none;
}
#add-task{
    padding: 10px 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border: 2px solid  rgb(69, 69, 69);
    color: rgb(69, 69, 69);
    border-radius:10px ;
}
#add-task:hover{
    cursor: pointer;
    background-color:rgb(54, 54, 54);
    color: white;
}

/* --------styling for task which get added to to-do list------  */
.task{
    margin-bottom: 10px;
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task li {
    list-style: none;
    font-size: 17px;
    font-weight: bold;
    color:  rgb(54, 54, 54);
    padding: 0px 10px;
    /* margin: 2px; */
    flex: 5;
}
.task button{
    background-color: white;
    padding:10px 15px;
    border-radius: 5px;
    cursor: pointer;
    /* flex: 1; */
}
.task .checkTask{
    margin-right: 10px;
    color: rgb(84, 84, 84);
    border: 2px solid rgb(132, 132, 132);
    font-size: 18px;
}
.task .checkTask:hover{
    background-color: rgb(115, 115, 115);
    color: white;
    /* color: black; */
}
.strike-through-task{
    text-decoration: line-through;
}
.task .deleteTask{
    color: rgb(54, 54, 54);
    border: 2px solid rgb(70, 70, 70);
    font-size: 18px;
}
.task .deleteTask:hover{
    background-color:  rgb(54, 54, 54);
    color: white;
}